@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding: 0px;
  line-height: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
